In [21]:
import numpy as np

In [22]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
  return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [23]:
n = int(input("Enter number between 5 and 15 "))
if n < 5 or n >15:
    print("please enter number between 5 and 15")

Enter number between 5 and 15 6

In [24]:
MyList = random_list(n)
MyList

[39, 19, 13, 47, 11, 44]

In [25]:
MySum = sum_random(MyList)
MySum

173

In [26]:
MyList2 = np.random.randint(10, 50, n)
MyList2

array([37, 18, 45, 46, 41, 43])

In [27]:
MySum2 = sum(MyList2)
MySum2

230